# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/
*.env

# Ignore configuration files with secrets
config.py

# Ignore build and distribution folders
.buildozer/
dist/
build/
*.apk
*.zip

# Ignore editor and OS files
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# Ignore logs
*.log
